/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue',
'Helvetica', 'Arial', sans-serif !default;

/// Copy text color
/// @type Color
$text-color: hsl(0, 0%, 6%) !default;

/// Main brand color
$brand-color: hsl(322, 100%, 66%);

$light-grey: rgb(237, 237, 237) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: rgb(68, 68, 68) !default;

// Neutrals
$neutral-light: hsl(193, 100%, 96%);
$neutral-med: hsl(192, 100%, 9%);
$neutral-blue: hsl(208, 11%, 55%);

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
        'small': 375px,
        'medium': 768px,
        'large': 1440px
) !default;

